.nes4jams-memory-bank-collection-value-editor {
    -fx-pref-height: 200px;
    -fx-background-radius: 5px;
    -fx-background-color: -theme-background-darker-2;
}

.nes4jams-memory-bank-collection-value-editor .list-cell:even {
    -fx-background-color: transparent;
}

.nes4jams-memory-bank-collection-value-editor .list-cell:odd {
    -fx-background-color: transparent;
}

.nes4jams-memory-bank-value-editor {
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.nes4jams-memory-bank-value-editor .text-field {
    -fx-pref-width: 60px;
}
.ppu-color-picker {
    -fx-background-color: -theme-background-darker-2;
    -fx-background-radius: 5;
    -fx-padding: 10px;
}

.ppu-selected-palette {
    -fx-border-color: -theme-foreground;
    -fx-border-width: 1px;
}

/* Code area */

.code-area .nes4jams-operator {
    -fx-fill: -nes4jams-operator;
}